body{
	width:1920px;
}

header{
	padding-left: 415px;
	margin: 0 auto;
}
.nav{
	display: flex;
	font-size: 20px;
	margin-top: 26px;
}

.nav li{
	margin-right: 45px;
	height: 58px;
}
.logoImg{
	margin-top: -6px;
}
.shouye{
	margin-left: 105px;
}
.hover{
	border-bottom: 2px solid #770A10;
	padding-bottom: 30px;
	color: #770A10;
	font-weight: bold;
	/*border:1px solid blue;*/
}

.wrap{
	width: 1024px;
	height: 400px;
	background-color: pink;
	position: relative;
	overflow: hidden;
	margin-top: 20px;
}
 .wrap li{
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	background-color: red;
	margin-right: 10px;

}
.wrap ul{
	position: absolute;
	right: 450px;
	bottom: 10px;	
	display: flex;
}
	
/*卷轴的样式*/
#middle{
	height: 400px;
	/*卷轴的宽度是由图片的张数和轮播图的宽度共同决定的*/
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition:all 0.5s;
	transition: all 0.5s;
}
	/*给展示的图片加样式*/
#middle>img{
	width: 1024px;
}
.newShow{
	display:flex;
	width:100%;
	padding-left: 830px;
	text-align: center;
	margin-top: 50px;
}
.newShow img{
	margin-top: 21px;
}
.newShow img:first-child{
	margin-right: 10px;
}
.newShow img:last-child{
	margin-left: 10px;
}
.show{
	font-size: 30px;
	text-align: center;
	color: #400A08;
	font-weight: bold;
}
.title{
	width:100%;
	font-size: 18px;
	text-align: center;
	color: #400A08;
}
.showImg{
	display: flex;
	padding-left: 360px;
	margin-top: 73px;
}
.showImg img{
	width:300px;
	text-align: center;;
}
.showImg>div{
	margin-right: 141px;

}
.showDetail{
	width:306px;
	height: 146px;
	text-align: center;
	background: #fff;
	border:1px solid #fff;
}
.hotBuy{
	display: flex;
	padding-left: 360px;
}
.hotBuy img{
	border:1px solid #fff;
}
.hotDetail{
	width: 390px;
	height: 112px;
	background: #fff;
	text-align: center;
	border:1px solid #fff;
}
.hotRight li{
	display: flex;
}
.hotRight li:first-child{
	margin-bottom: 45px;
}
.hotRight li div:first-child{
	text-align: center;
	margin-left: 35px;
	width: 280px;
	height: 220px;
	background: #fff;
}
.hotRight li div:last-child{
	/*box-shadow:0px 10px 5px #999;*/
}
.biaoqian{
	display: flex;
	padding-left: 360px;
	margin-top: 30px;
}
.biaoqian li{
	display: flex;
	height: 75px;
	margin-right: 125px;
}
.biaoqian li img{
	margin-right: 10px;
}
.biaoqian li  p:first-child{
	font-size: 20px;
	color:#1E1E1E;
	margin-top: 20px;
}
.biaoqian li p:last-child{
	font-size: 14px;
	color:#666;
}




.guanyu{
	margin: 0 auto;
	/*position: relative;*/
}
.section{
	width:1040px;
	margin: 0 auto;
	border:1px solid red;
	padding-left: 82px;
	padding-right: 79px;
	/*position: absolute;*/
	top:160px;
	background: #fff;
	margin-top: -120px;
}
.banner2{
	background: url(../img/top.png)  no-repeat;
	width:100%;
	height: 380px;
}
.aboutXiang{
	text-align: center;
	margin-top: 45px;
}
.aboutXiang p:first-child{
	color: #770A10;
	font-size: 30px;
}
.aboutXiang p:last-child{
	color: #770A10;
	font-size: 26px;
	margin-bottom: 25px;
}
.stars{
	margin-top: 30px;
}
.gongsi{
	font-size: 18px;
	color: #666;
	text-indent:2em
}
.stars li{
	display: flex;
	margin-bottom: 20px;
}
.li_div{
	margin-left: 24px;
}
.li_div div{
	font-size: 24px;
	color:#1E1E1E;
	margin-bottom: 15px;
}
.li_div p{
	font-size: 18px;
	color: #666;
	width: 494px;
	line-height: 28px;
}
.ren li{
	display: flex;
	margin-top: 33px;
}
.contact{
	font-size: 28px;
	color: #770A10;
	margin-top: 90px;
	margin-bottom: 20px;
}
.kefus{
	font-size: 18px;
	color: #666;
	line-height: 25px;
}
.lastKefu{
	margin-bottom: 32px;
}
.joinme{
	margin-top: 1px;
}
.joinme>img{
	margin-bottom: 50px;
}
.zhaopin{
	width:1024px;
	margin:0 auto;
	display: flex;
	justify-content: space-between; 
}
.one{
	font-size: 20px;
}
.zhaopin li:not(.one){
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	
}
footer{
	
	height: 300px;
	background:#292929;
	margin-top: 30px;
}
.last{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	padding-left: 360px;
	border-bottom: 1px solid  #333;
}
.last ul{
	display: flex;
}
.last li{
	width:300px;
	border-right: 1px solid #333;
	text-align: center;
}
.last li:last-child{
	border-right: none;
}
h4{
	font-size: 20px;
	color:#fff;
	margin-bottom: 20px;
}
.last p{
	font-size: 16px;
	color:#999;
	margin-bottom: 10px;
}
.last img{
	margin: 0 auto;
}
.xiangsong{
	width:50px;
	height: 50px;
	background: red;
	margin-right: 50px;
}


.kefu{
	margin-bottom: 10px;
}
.ip{
	margin: 0 auto;
	text-align: center;
	color:#999;
}

