body{
	width:1920px;
	margin: 0;
	padding: 0;
}

header{
	width:1500px;
	padding-left: 415px;
	margin: 0 auto;
	position: relative;
	padding-top: 1px;

}
.app{
	position: fixed;
	right:80px;
	top:150px;
	z-index: 20;
	display: none;
}
.box{
	position: relative;
	padding-bottom: 30px;
}
.zhezhao{
	width:100%;
	height: 108%;
	position: absolute;
	top:0;
	left: 0;
	background: #000;
	z-index: 100;
	opacity: 0.7;
}
.close{
	margin-left: 1054px;
	margin-top: 111px;
}
.know{
	font-size: 20px;
	width: 100px;
	height: 40px;
	border:2px dotted #fff;
	color: #fff;
	font-weight: bold;
	text-align: center;
	line-height: 40px;
	margin-left: 1545px;
	margin-top: 30px;
}
.block{
	background: #000;
	opacity: 0.7;
	width:100%;
	height: 80px;
}
.nav{
	display: flex;
	font-size: 20px;
	margin-top: 26px;
	height: 58px;
}
.nav li{
	margin-right: 45px;
	height: 58px;
}
.logoImg{
	margin-top: -6px;
}
.shouye{
	margin-left: 105px;
}
.hover{
	border-bottom: 2px solid #770A10;
	padding-bottom: 30px;
	color: #770A10;
	font-weight: bold;
}

.wrap{
	width: 1024px;
	height: 400px;
	background-color: pink;
	position: relative;
	overflow: hidden;
	margin-top: 20px;
}
 .wrap li{
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	border-radius: 50%;
	background-color: red;
	margin-right: 10px;

}
.wrap ul{
	position: absolute;
	right: 450px;
	bottom: 10px;	
	display: flex;
}
	
/*卷轴的样式*/
#middle{
	height: 400px;
	/*卷轴的宽度是由图片的张数和轮播图的宽度共同决定的*/
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition:all 0.5s;
	transition: all 0.5s;
}
	/*给展示的图片加样式*/
#middle>img{
	width: 1024px;
}
.newShow{
	display:flex;
	width:1090px;
	padding-left: 830px;
	text-align: center;
	margin-top: 50px;
}
.newShow img{
	margin-top: 21px;
}
.newShow img:first-child{
	margin-right: 10px;
}
.newShow img:last-child{
	margin-left: 10px;
}
.show{
	font-size: 30px;
	text-align: center;
	color: #400A08;
	font-weight: bold;
}
.title{
	width:100%;
	font-size: 18px;
	text-align: center;
	color: #400A08;
}
.showImg{
	display: flex;
	padding-left: 360px;
	margin-top: 73px;
}
.showImg img{
	width:300px;
	text-align: center;;
}
.showImg>div{
	margin-right: 141px;

}
.bac{
	width:310px;
	height: 500px;
	background: url(../img/bac.png) no-repeat;
}
.showDetail{
	width:299px;
	height: 146px;
	text-align: center;
	/*background: #fff;*/
	/*border:1px solid #fff;*/
}
.hotBuy{
	display: flex;
	padding-left: 360px;
}

.bac1{
	background: url(../img/bac.png) no-repeat;
	height: 507px;
	/*border:1px solid red;*/
}
.bac2{
	background: url(../img/bac2.png) no-repeat;
	height: 274px;
	width: 780px;
}
.hotDetail{
	width: 390px;
	/*height: 112px;*/
	/*background: #fff;*/
	text-align: center;
	border:1px solid #fff;
}
.hotRight li{
	display: flex;
	margin-left: 35px;
}
.hotRight li:first-child{
	/*margin-bottom: 45px;*/
}
.hotRight li div:first-child{
	text-align: center;
	margin-left: 35px;
	width: 280px;
	height: 220px;
	background: #fff;
}
.biaoqian{
	display: flex;
	padding-left: 360px;
	margin-top: 30px;
}
.biaoqian li{
	display: flex;
	height: 75px;
	margin-right: 125px;
}
.biaoqian li img{
	margin-right: 10px;
}
.biaoqian li  p:first-child{
	font-size: 20px;
	color:#1E1E1E;
	margin-top: 20px;
}
.biaoqian li p:last-child{
	font-size: 14px;
	color:#666;
}
.guanyu{
	margin: 0 auto;
	padding-bottom: 50px;
	/*position: relative;*/
}
.section{
	width:1040px;
	margin: 0 auto;
	border:2px solid #eee;
	border-radius: 5px;
	padding-left: 82px;
	padding-right: 79px;
	/*position: absolute;*/
	top:160px;
	background: #fff;
	margin-top: -120px;
	padding-bottom: 35px;
}
.banner2{
	background: url(../img/top.png)  no-repeat;
	width:100%;
	height: 380px;
}
.banner1{
	background: url(../img/join.png)  no-repeat;
	width:100%;
	height: 380px;
}
.aboutXiang{
	text-align: center;
	margin-top: 45px;
}
.aboutXiang p:first-child{
	color: #770A10;
	font-size: 30px;
}
.aboutXiang p:nth-of-type(2){
	color: #770A10;
	font-size: 26px;
	margin-bottom: 25px;
}
.aboutXiang  div{
	font-size: 24px;
	color: #1e1e1e;
	margin-top: -10px;
	margin-bottom: 15px;

}
.stars{
	margin-top: 30px;
}
.gongsi{
	font-size: 18px;
	color: #666;
	text-indent:2em
}
.stars li{
	display: flex;
	margin-bottom: 20px;
}
.li_div{
	margin-left: 24px;
}
.li_div div{
	font-size: 22px;
	color:#1E1E1E;
	margin-bottom: 15px;
	margin-top: 38px;
}
.li_div p{
	font-size: 15px;
	color: #666;
	width: 494px;
	line-height: 20px;
}
.ren li{
	display: flex;
	margin-top: 30px;
}
.ren li:first-child{
	margin-top: 50px;
}
.contact{
	font-size: 28px;
	color: #770A10;
	margin-top: 90px;
	margin-bottom: 20px;
}
.kefus{
	font-size: 18px;
	color: #666;
	line-height: 25px;
}
.custom_box{
	width:1200px;
	margin: 80px auto;
	/*border:1px solid red;*/
}
.small img{	
	margin: 0 auto;
}
.yuan{
	font-size: 26px;
	color: #B57F43;
	text-align: center;
	margin-top: 20px;
	margin-bottom:15px;
}
.jianchi{
	font-size: 20px;
	color: #B57F43;
	text-align: center;
	
	line-height: 28px;
}
.wei{
	display: flex;
	padding-left: 85px;
	margin-top: 40px;
	padding-right: 6px;
}
.wei li{
	margin-right: 74px;
}

.pin{
	display: flex;
	flex-wrap:wrap;
}
.pin li{
	width: 540px;
	height: 820px;
	padding-top: 30px;
}
.pin li>div{
	width:500px;
	margin: 0 auto;
}
.section2{
	width: 1100px;
	border:1px solid #eee;
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;

}
.job{
	font-size: 24px;
	color: #1e1e1e;
	margin-bottom: 15px;
}
.yaoqiu{
	font-size: 20px;
	color: #666;
}
.gangwei{
	font-size: 20px;
	color: #1e1e1e;
	margin-bottom: 20px;
	margin-top: 30px;
}
.pin p{
	font-size: 14px;
	color: #666;
	line-height: 28px;
}



footer{
	
	height: 300px;
	background:#292929;
	/*margin-top: 50px;*/
}
.last{
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	padding-left: 360px;
	border-bottom: 1px solid  #333;
}
.last ul{
	display: flex;
}
.last li{
	width:300px;
	border-right: 1px solid #333;
	text-align: center;
}
.last li:last-child{
	border-right: none;
}
h4{
	font-size: 20px;
	color:#fff;
	margin-bottom: 20px;
}
.last p{
	font-size: 16px;
	color:#999;
	margin-bottom: 10px;
}
.last img{
	margin: 0 auto;
}
.xiangsong{
	width:50px;
	height: 50px;
	background: red;
	margin-right: 50px;
}


.kefu{
	margin-bottom: 10px;
}
.ip{
	margin: 0 auto;
	text-align: center;
	color:#999;
}
.range_title{
	width:100%;
	border-top: 1px solid #e7e7e7;
	font-size: 18px;
	color: #770A10;
	padding-left: 415px;
	padding-top: 30px;
	font-weight: bold;
}
.eng{
	font-size: 14px;
	color: #666;
	margin-left: 415px;
}
.map{
	margin-left: 415px;
	margin-top: 30px;
	margin-bottom: 50px;
}

